.tbl-btn{
  width: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbl-btn-add{
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbl-btn:hover, .tbl-btn-add:hover{
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

#toast-container > .toast-success {
  background-image: none;
  background-color: #183188;
  color: white;
}

  button#dropdownMenuButton i {
    font-size: 1rem;
    color: #000;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-toggle::before {
    content: "";
    font-size: 1.5rem;
    color: #000;
    margin-right: 5px;
  }
div.dataTables_wrapper div.dataTables_length select {
  margin-inline: .5rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 1px solid #828282;
}
 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black!important;
}