.tbl-btn{
  width: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbl-btn-add{
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbl-btn:hover, .tbl-btn-add:hover{
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

#toast-container > .toast-success {
  background-image: none;
  background-color: #183188;
  color: white;
}

  button#dropdownMenuButton i {
    font-size: 1rem;
    color: #000;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-toggle::before {
    content: "";
    font-size: 1.5rem;
    color: #000;
    margin-right: 5px;
  }
    button#dropdownMenuButton {
    position: relative; /* tambahkan properti position relative pada button */
    z-index: 1; /* tambahkan properti z-index pada button agar muncul di depan dropdown */
  }

.dropdown-menu {
  position: absolute; /* tambahkan properti position absolute pada dropdown */
  top: calc(30% + 5px) !important; /* atur jarak dropdown dari button dengan properti top */
}